.idea/*
*.html
*.pyc
doc/*
*.mat
.DS_Store
*.exe
*.mexw64
*.dll

#libsvm build files
lib/libsvm/libsvm.so.2
lib/libsvm/svm-predict
lib/libsvm/svm-scale
lib/libsvm/svm-train
lib/libsvm/svm.o
lib/libsvm/tools/*

.ipynb_checkpoints/*
